body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-table-tbody{
  padding: 0 !important;
  white-space: pre;
}
.ant-table-tbody > tr > td{
  padding: 0 !important;
  white-space: pre;
}
.ant-table-thead{
  padding: 0 !important;
}
.ant-table-thead > tr > th{
  padding: 0 !important;
}

thead[class*="ant-table-thead"] th {
  background-color: #0095d9 !important;
  color: white !important;
  text-align: center !important;
}

thead[class*="ant-table-thead"] th:hover {
  background-color: #0095d9 !important;
  color: white;
}